:root {
  --dark-gray: #333333;
  --rgb-dark-gray: 51 51 51;
  --light-gray: #828282;
  --lightest-gray: #BDBDBD;
  --accent: #FF7BBA;
  --rgb-accent: 255 123 186;
  --accent-light: #FF8DC4;
  --accent-lightest: #FFBADB;
  --accent-dark: #CF6F9D;
  --font-1: 'Rubik';
  --font-2: 'SF Pro Display';
}

/*****************
SCROLL STYLIZATION
******************/
html {
    scrollbar-color: #e0e0e0 transparent;
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: transparent;
}
::-webkit-scrollbar:hover, ::-webkit-scrollbar:active {background: #f2f2f2;}
::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 10px;
    transition: 0.2s;
}
::-webkit-scrollbar-thumb:hover {background-color: var(--lightest-gray);}
::-webkit-scrollbar-thumb:active {background-color: var(--accent-lightest);}
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
}

body {
    font-family: var(--font-1);
    font-size: 20px;
    font-weight: 400;
    position: relative;
    color: var(--dark-gray);
}
@media (max-width: 1659px) {
    body {font-size: 18px;}
}
@media (max-width: 1399px){
    body {font-size: 16px;}
}
@media (max-width: 1199px){
    body {font-size: 15px;}
}
@media (max-width: 767px){
    body {font-size: 14px;}
}


a, a:hover, a:focus, a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.disable {
    pointer-events: none;
    cursor: default;
}

p, label, span, a, form, select, div, blockquote, cite, figure, figcaption, ul, ol, dl {
    line-height: normal;
    margin-bottom: 0px;
}


/* FORMS CUSTOMIZATION */
input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active, 
textarea, textarea:hover, textarea:focus, textarea:active,
select, select:hover, select:focus, select:active {outline: none;}

/* placeholder stylization */
input:-moz-placeholder, textarea:-moz-placeholder {color: var(--lightest-gray); font-weight: 400;}
input::-moz-placeholder, textarea::-moz-placeholder {color: var(--lightest-gray); font-weight: 400;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: var(--lightest-gray); font-weight: 400;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: var(--lightest-gray); font-weight: 400;}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {color: var(--lightest-gray); font-weight: 400;}
input::placeholder, textarea::placeholder {color: var(--lightest-gray); font-weight: 400;}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input, textarea, select {
    border: 1px solid #E0E0E0;
    background: #fff;
    border-radius: 5px;
    padding: .75em 1.5em;
    width: 100%;
    line-height: normal;
    box-shadow: unset;
}
input:not(:placeholder-shown), textarea:not(:placeholder-shown) {
    border: 1px solid var(--lightest-gray);
}
input:hover, textarea:hover {
    border: 1px solid var(--light-gray);
}
input:focus, textarea:focus {
    border: 1px solid var(--accent);
}
input[type="number"] {
    width: 50px;
}
input.mini {
    padding: .1em;
    height: 1.75rem;
    border-radius: 2px;
    text-align: center;
}

/* кнопки */
button {
    background: none;
    border: none;
    padding: unset;
    display: block;
}
button:hover, button:focus, button:active {cursor: pointer;}
.btn_main {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    line-height: 1.1em;
    padding: 1em;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
    min-width: 12.5em;
    min-height: 3.5em;
}
.btn_main:hover, .btn_main:focus, .btn_main:active {cursor: pointer;}
.btn_sm {
    min-height: 2.4em;
    padding: .5em 1em;
}
.btn_xs {
    min-height: 1.75rem;
    padding: .25em 1em;
    min-width: unset;
    text-transform: capitalize;
}
.btn_1 {
    color: #fff;
    background-color: var(--accent);
    border: 1px solid var(--accent);
}
.btn_2 {
    color: var(--accent);
    background-color: #fff;
    border: 1px solid var(--accent);
}
.btn_3 {
    font-family: var(--font-2);
    color: var(--light-gray);
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
}
.btn_1:hover, .btn_1:focus, .btn_2:hover, .btn_2:focus {
    color: #fff;
    background-color: var(--accent-light);
    border: 1px solid var(--accent-light);
}
.btn_1:active, .btn_2:active {
    color: #fff;
    background-color: var(--accent-dark);
    border: 1px solid var(--accent-dark);
}
.btn-icon {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.btn-icon svg {
    width: 100%;
    height: 100%;
    fill: white;
}
.btn-icon .count {
    position: absolute;
    top: -.2em;
    right: -.2em;
    font-size: .7em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    background-color: var(--accent);
    border-radius: 50%;
    color: #fff;
    font-family: var(--font-2);
    font-weight: 600;
}
@media (max-width: 1199px) {
    .btn-icon .count {line-height: 1.5em;}
}
@media (max-width: 575px) {
    .btn_main {
        min-width: unset;
        min-height: 2.7em;
        padding: .5em 1em;
    }
}


/* TEXT STYLIZATION */
h1, h2, h3, h4 {font-family: var(--font-2);}
h1 {
    font-size: 2.4em;
    font-weight: 500;
    text-align: left;
    margin-bottom: .5em;
}
h1.inner {
    font-size: 1.8em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1em;
}
h2 {
    text-align: center;
    font-size: 2.3em;
    font-weight: 400;
    margin-bottom: 1em;
}
h3 {
    text-align: left;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: .6em;
}
h4 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 1em;
}
@media (max-width: 767px) {
    h1 {font-size: 2em;}
    h2, h3 {font-size: 1.75em;}
    h3 {text-align: center;}
    h1.inner {font-size: 1.6em;}
}
@media (max-width: 575px) {
    h1, h2, h3 {font-size: 1.5em;}
    h1.inner {font-size: 1.4em;}
}

.font-1 {font-family: var(--font-1);}
.font-2 {font-family: var(--font-2);}

.f_08 {font-size: .8em;}
.f_09 {font-size: .9em;}
.f_11 {font-size: 1.1em;}
.f_12 {font-size: 1.2em;}
.f_13 {font-size: 1.3em;}
.f_14 {font-size: 1.4em;}
.f_15 {font-size: 1.5em;}
.f_16 {font-size: 1.6em;}
.f_17 {font-size: 1.7em;}
.f_18 {font-size: 1.8em;}
.f_19 {font-size: 1.9em;}
.f_20 {font-size: 2em;}
.white {color:#fff;}
.black {color: #000;}
.dark-gray {color: var(--dark-gray);}
.light-gray {color: var(--light-gray);}
.lightest-gray {color: var(--lightest-gray);}
.accent {color: var(--accent);}
.accent-dark {color: var(--accent-dark);}

.fw_1 {font-weight: 100;} /* thin */
.fw_2 {font-weight: 200;} /* extra-light */
.fw_3 {font-weight: 300;} /* light */
.fw_4 {font-weight: 400;} /* regular */
.fw_5 {font-weight: 500;} /* medium */
.fw_6 {font-weight: 600;} /* semi-bold */
.fw_7 {font-weight: 700;} /* bold */
.fw_8 {font-weight: 800;} /* extra-bold */
.fw_9 {font-weight: 900;} /* black */
.itlc {font-style: italic;}
.norm {font-style: normal;}

.lh_n {line-height: normal;}
.bb_1 {border-bottom: 1px solid;}

hr {
    width: 100%;
    height: 2px;
    background-color: var(--accent);
    border: none;
    opacity: 1;
}

.mb_4 {margin-bottom: 4em;}
@media (max-width: 575px){
    .mb_4 {margin-bottom: 3em;}
}


@media (min-width: 1660px) {
    .container {min-width: 1600px;}
}

main.inner-page {
    padding: 5em 0;
    min-height: calc(100vh - 528px);
}
@media (max-width: 1659px){
    main.inner-page {min-height: calc(100vh - 487.16px);}
}
@media (max-width: 1399px){
    main.inner-page {min-height: calc(100vh - 446.31px);}
}
@media (max-width: 1199px){
    main.inner-page {min-height: calc(100vh - 426px);}
}
@media (max-width: 991px){
    main.inner-page {padding: 4em 0;}
}
@media (max-width: 767px){
    main.inner-page {
        min-height: calc(100vh - 115px);
        padding: 2.5em 0;
    }
}
@media (max-width: 575px){
    main.inner-page {padding: 1em 0;}
}


/* breadcrumb */
.breadcrumb {margin-bottom: 2em;}
.breadcrumb-item a {
    color: #000;
    font-size: 1em;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: #000;
}
@media (max-width: 767px){
    .breadcrumb {margin-bottom: 1em;}
    .breadcrumb-item a {font-size: .7em;}
}


/* pagination */
nav[aria-label="Page navigation"]{
    width: fit-content;
    margin: 0 auto;
}
.pagination {
    font-family: var(--font-2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.page-item:not(:first-child) .page-link {margin-left: 0px;}
.page-link {
    color: #000;
    font-size: 1em;
    border: none;
    border-radius: 2px;
    padding: 0px;
    width: 1.6em;
    height: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-link:hover, .page-link:focus {
    background-color: var(--accent-lightest);
    color: #000;
}
.page-link.active {
    background-color: var(--accent);
    color: #fff;
}
@media (max-width: 1399px){
    nav[aria-label="Page navigation"]{margin: 0;}
}
@media (max-width: 767px){
    nav[aria-label="Page navigation"]{margin: 0 auto;}
}


/* SLIDERS */
.swiper-1, .swiper-6 {
    overflow: hidden;
    padding-bottom: 3em;
}
.swiper-2, .swiper-3, .swiper-4, .swiper-5 {overflow: hidden;}

.swiper-pagination {bottom: 0px !important;}
.swiper-pagination-bullet {
    width: .8em;
    height: .8em;
    border-radius: 50%;
    background-color: var(--light-gray);
    opacity: 1;
    margin: 0 .4em !important;
}
.swiper-pagination-bullet-active {background-color: var(--accent);}

.swiper-button-prev {left: -1.75em;}
.swiper-button-next {right: -1.75em;}
.swiper-2 .swiper-button-prev {left: 0em;}
.swiper-2 .swiper-button-next {right: 0em;}
.swiper-button-prev, .swiper-button-next {
    width: 1.2em;
    height: 3em;
    margin-top: 0px;
    top: calc(50% - 1.5em);
}
.swiper-1 .swiper-button-prev, .swiper-1 .swiper-button-next {top: calc(50% - 3em);}
.swiper-button-prev:after, .swiper-button-next:after {content: unset;}
.swiper-button-prev svg, .swiper-button-next svg {
    width: 1.2em;
    height: 3em;
    fill: none;
}
.swiper-button-prev svg path, .swiper-button-next svg path {
    stroke: var(--dark-gray);
    stroke-width: 4px;
    stroke-linecap: square;
    stroke-linejoin: round;
}
.swiper-2 .swiper-button-prev svg path, .swiper-2 .swiper-button-next svg path,
.swiper-5 .swiper-button-prev svg path, .swiper-5 .swiper-button-next svg path {
    stroke: var(--accent);
}
@media (max-width: 1199px) {
    .swiper-button-prev {left: -1.5em;}
    .swiper-button-next {right: -1.5em;}
}
@media (max-width: 767px) {
    .swiper-button-prev {left: 1.5em;}
    .swiper-button-next {right: 1.5em;}
    .swiper-button-prev svg path, .swiper-button-next svg path {
        stroke: var(--accent);
    }
    .swiper-1, .swiper-6 {padding-bottom: 2.5em;}
    .swiper-pagination-bullet {
        width: .5em;
        height: .5em;
    }
}


/** TABLES **/
.table>tbody {border-top: 2px solid #F2F2F2;}
.table tr {border-bottom: 2px solid #F2F2F2;}
.table td {
    vertical-align: middle;
    border: none !important;
}